/*-------------------
-----font family-----
---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Poppins:wght@500&family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
/*-----------------------
------- common style-----
-------------------------- */

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 100px;
}
/* ------------------------------
-------navigation style ---
--------------------------------*/
nav{
    display: flex;
    justify-content: space-between;
}
.heading{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #3A3A3A;
}
.navigation{
    list-style: none;
    
}
.navigation li{
    display: inline-block;
    padding: 10px 10px;
    margin: 5px 10px;
    cursor: pointer;
}
.navigation a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
}
.navigation a:hover{
    color: lightgreen;
    transition: .3s linear;
}
.navigation li:hover{
    color: lightsalmon;
    transition:.3s linear;
}
/*--------------------------------
---------- banner style -----------
-----------------------------------*/
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   justify-content: center;
}
.banner-left{
    margin-right: 50px;
    padding-right: 30px;

}
.banner-left h1{
    font-size: 40px;
}
.banner-animation{
        font-size: 52px;
        position: relative;
        white-space: nowrap;
        color:transparent
}
.banner-animation::before{
    content: 'Influence';
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(57, 196, 57, 0.838);
    animation: typing 3.5s linear infinite;
}

@keyframes typing {
    0% {
        content: 'I|';
    }

    8% {
        content: 'In|';
    }

    16% {
        content: 'Inf|';
    }

    24% {
        content: 'Infl|';
    }

    32% {
        content: 'Influ|';
    }

    40% {
        content: 'Influe|';
    }

    48% {
        content: 'Influen|';
    }

    56% {
        content: 'Influenc|';
    }

    64% {
        content: 'Influence|';
    }

    72% {
        content: 'Influencer|';
    }

    80%, 

  
    81% {
        content: 'Influencer|';
    }

    82% {
        content: 'Influence|';
    }

    84% {
        content: 'Influenc|';
    }

    86% {
        content: 'Influen|';
    }

    88% {
        content: 'Influe';
    }

    90% {
        content: 'Influ|';
    }

    92% {
        content: 'Infl|';
    }

    94% {
        content: 'Inf|';
    }

    96% {
        content: 'In|';
    }

    98% {
        content: 'I|';
    }

    100% {
        content: '|';
    }

  }
    

.banner-left p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.common-butttom{
    color: #FFFFFF;
    width: 196px;
    height: 44px;
    padding: 10px 24px;
    background: #E02C6D;
    border:0px;
    border-radius: 41px;
    font-weight: 600;
    cursor: pointer;
}

.banner-right{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: 76.5%;
    margin-left: 20px;
    
}
.banner-right img{
            width: 80%;
}
/*-----------------------------------
------- company logo style -----------
--------------------------------------*/
.company-logo{
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    padding: 10px 20px;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    margin-bottom: 40px;

    
}

.company-logo img{
      margin-left:30px; 
   
}
 /*=========================================
 ========== company product================
 =========================================== */
 .popular-collection-style{
            display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          justify-content: center;
          
}
.product{
         width: 260px;
         height: 400px;
         margin:0 auto ;
         margin-right: 30px;
         margin-bottom: 30px;
         padding: 10px;
         box-shadow: 10px 10px 20px lightgray;
         border-radius: 5px;
}
.product img{
         width: 100%;
         border-radius: 5px;
}
.Popular-Collection-heading{
            text-align: center;
            margin-bottom: 30px;
}
.Popular-Collection-heading h4{
        font-size: 28px;
        margin-top: 0px;
         font-weight: 600;
}
.product-name{
            font-size: 28px;
}
.product-price{
            font-size: 24px;
            font-weight: 400;
}
.product-info{
        display: flex;
}
.product-info p{
            font-size: 14px;
}
.fa-star.full{
    font-size: 10px;
    color: #FB8200;
}
.fa-star-half-alt{
    font-size: 10px;
    color: #FB8200;
    margin-right: 10px;
}
.product h4{
    color: #787885;
    font-size: 14px;
}